@import "./mixin.scss";
@import "./config.scss";

.wtoast-wap {
  @include radius(8px);
  @include px2rem('padding', 34px 56px);

  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 50vw;

  &-big {
    @include px2rem('padding', 64px);
  }

  &-text {
    @include font(28px);

    font-family: 'PingFangSC-Medium';
    color: #fff;
    letter-spacing: 0;
    text-align: center;
    line-height: 1;
  }

  &-icon {
    @include px2rem('width', 68px);

    display: block;
    margin: 0 auto;

    @include px2rem('margin-bottom', 20px);
  }
}
