@import "./mixin.scss";
@import "./config.scss";

.wtoast-wap {
  @include radius(8px);
  @include px2rem('padding', 36px 56px);

  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 70vw;
  min-width: 124px;
  box-sizing: border-box;

  &-big {
    padding: 26px 13px;
    max-width: 50vw;
  }

  &-text {
    font-family: 'PingFangSC-Medium';
    color: #fff;
    letter-spacing: 0;
    text-align: center;
    line-height: 22px;
    font-size: 14px;
  }

  &-icon {
    display: block;
    margin: 0 auto;
    width: 34px;
    padding-bottom: 16px;
  }
}
